{% extends "pblog:templates/layout.jinja2" %}

{% block content %}
    <h1>{{ entry.title }}</h1>
    <hr/>
    <p>{{ entry.body }}</p>
    <hr/>
    <p>Created <strong title="{{ entry.created }}">
        {{ entry.created_in_words }}</strong> ago</p>

    <p><a href="{{ request.route_url('home') }}">Go Back</a> ::
        <a href="{{ request.route_url('blog_action', action='edit',
        _query={'id':entry.id}) }}">Edit entry</a> ::
        <a href="{{ request.route_url('blog_action', action='delete',
         _query={'id':entry.id}) }}" onclick="return confirm('Are you sure you want to delete this item?')">Delete Entry</a>

    </p>
{% endblock %}